html {
  font-size: 16px;
}

.close {
  cursor: pointer;
  font-size: 1.5em;
}

#nuclear.btn-danger {
  background-color: #731613;
  margin-left: 10px;
}

#cardstatus {
  color: white;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  background-color: #254958;
  box-shadow: 1px 1px 5px black;
  border-radius: 2px;
}

#cardstatus.csscstatus {
  background-color: #4b92af;
}

#cardstatus.jscstatus {
  background-color: #146f84;
}

a#htmllink, a#csslink, a#jslink {
  cursor: none;
}

#htmllink, #csslink, #jslink {
  color: white;
  text-decoration: none;
}

.active {
  background-color: #1b4473;
}

p#directions.btn-primary {
  background-color: #67ace6;
}

.statusmessage {
  color: green;
  font-size: 1.1em;
  display: none;
  margin-bottom: 10px;
}


/* #cssleft, #cssright, #jsright, #jsleft{
  display: none;
} */

#subjectmatterquestions, #subjectmatteranswers {
  width: 80%;
}

#updateCard input[type='radio'], #updateCard label {
  display: inline-block;
  width: 30px;
}

#card1, #card2, .flashcard2 p {
  text-align: center;
}

select.btn {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2em;
  width: 200px;
}

.btn-success {
  background-color: #428042;
}

#failmessage, #failmessage2, #failmessage3, #deleteSpan {
  color: red;
  display: none;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 10px;
}

#updateSpan, #failupdate, #failupdate2 {
  display: none;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 10px;
}

#updateSpan {
  color: blue;
}

#failupdate, #failupdate2 {
  color: red;
}

#displaycards, #studyDirections, #updateCard, #deleteCard {
  overflow: auto;
  overflow-x: hidden;
}

#displaycards h3 {
  margin-top: 52px;
}

body {
  background-color: #dbeae9;
}

select {
  width: 150px;
}

#filter {
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 31, 31, 0.651);
  position: fixed;
  z-index: 2000;
  display: none;
  left: 0;
  top: 0;
}

section.col-md-3 ul {
  padding-left: 5px;
  margin: 0;
  margin-top: 130px;
  background: #d2eaff;
  width: 70%;
  border-radius: 10px;
}

section.col-md-3 ul li {
  list-style-type: none;
  margin: 15px auto;
  font-size: 1.5rem;
  cursor: pointer;
}

section.col-md-3 ul li:hover {
  background-color: darkgray;
  color: white;
}

header {
  height: 250px;
  box-shadow: 2px 2px 7px gray;
  background: #6097CC;
  /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, #6097CC, #78BDFF);
  background-image: url("../images/header2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: serif, cursive;
}

main {
  background-image: url('../images/web5.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 75% 100%;
  height: 500px;
}

input {
  display: block;
  margin: 20px 5px;
}

.fa-plus, .fa-trash, .fa-wrench, .fa-eye {
  font-size: 1.2rem;
}

.fa-plus {
  color: green;
}

.fa-trash {
  color: #a92727;
}

.fa-wrench {
  color: #26597F;
}

.fa-eye {
  color: black;
}

section.col-md-3 ul li:hover {
  border-radius: 10px;
}

h2 {
  font-size: 3em;
  padding-top: 20px;
}

#subject {
  background: #26597F;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(-66deg, #253646, #607075);
  /*Standard syntax (must be last) */
  height: 100%;
  color: whitesmoke;
  border-right: white solid 2px;
}

#subjects {
  font-family: Roboto, Open-Sans, sans-serif;
  font-size: 2rem;
  list-style-type: none;
  width: 100%;
}

#subjects li {
  margin: 30px 0;
  margin-left: -25px;
  cursor: pointer;
  border-bottom: solid white 1px;
}

#subjects li:hover {
  background-color: #4D9DFF;
}

#directions {
  cursor: pointer;
  font-size: 1.5rem;
}

#addCard input, #updateCard input, #deleteCard input {
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 1em;
  font-size: 1.1em;
  text-align: center;
}

#deleteCard input {
  background-color: #eca19f;
}

#updateCard input {
  background-color: #84aaff;
}

#addCard input {
  background-color: #87ff90;
}

#addCard, #updateCard, #deleteCard, #studyDirections, #displaycards {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 80%;
  margin-top: 45px;
  width: 103%;
  z-index: 9000;
  border: solid black 1px;
  background-image: url('../images/index3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 15px 30px;
  display: none;
}

#studyDirections {
  height: 120%;
}

#displaycards {
  background: linear-gradient(to bottom right, #C3CFFF, #9CA6CC);
  width: 70vw;
  height: 130%;
}

form input {
  margin-top: 0;
}

select {
  margin-bottom: 5px;
}

#addCard form button, #updateCard form button, #deleteCard form button {
  float: right;
}

#deleteCard p {
  cursor: pointer;
}

#addCard p, #updateCard p, #studyDirections p {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 15px;
}

#addCard h2, #updateCard h2, #deleteCard h2, #studyDirections h2 {
  margin: 10px;
  font-family: 'Opens Sans', Roboto, Calibri, sans-serif;
}

.flashcard, flashcard2 {
  border: solid black 1px;
  height: 300px;
  background-image: url("../images/index.png");
  /* cursor: pointer; */
}


/* .flashcard.frontcss {
  background-image: url("../images/index7.png");
}

.flashcard.frontjs {
  background-image: url("../images/index5.png");
} */

.flashcard p, .flashcard2 p {
  margin: 125px 120px 10px;
  width: 60%;
  font-size: 1.5em;
  font-family: Roboto, Calibri, sans-serif;
}

.flashcard2 p {
  margin: 125px 110px 10px;
}

.flashcard2 {
  background-image: url("../images/index2.png");
}


/* .flashcard2.backcss {
  background-image: url("../images/index4.png");
}

.flashcard2.backjs {
  background-image: url("../images/index6.png");
} */

.rightHolder {
  right: 50px;
}

.leftHolder {
  left: 50px;
}

.rightHolder, .leftHolder {
  width: 50px;
  height: 50px;
  bottom: -75px;
  z-index: 999;
  line-height: 55px;
  background: #606c88;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0);
  /* IE6-9 */
  /* IE6-9 */
  border-radius: 10px;
  text-align: center;
  font-size: 2em;
  display: inline-block;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 7px black;
  position: absolute;
}

.cssleft, .cssright {
  background: #49c0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #49c0f0 0%, #2cafe3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3', GradientType=0);
  /* IE6-9 */
}

.jsleft, .jsright {
  background: #356aa0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #356aa0 0%, #356aa0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0', GradientType=0);
  /* IE6-9 */
}

.add {
  height: 100%;
}

.flip-container, .flip-container2 {
  -webkit-perspective: 1000;
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 500px;
  height: 300px;
  margin: 25px auto;
}


/* flip speed goes here */

.flipper {
  transition: 1.0s;
  transform-style: preserve-3d;
  margin: 25px auto;
  position: relative;
  box-shadow: 1px 1px 7px black;
}


/* hide back of pane during swap */

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
}

footer {
  min-height: 450px;
  background-color: lightgray;
  background-image: url('../images/footer.jpg');
  color: white;
}

footer section {
  margin-top: 40px;
}

#social {
  list-style-type: none;
  padding-left: 0;
}

#social li {
  margin: auto 15px;
  display: inline-block;
}

footer h3 {
  margin-top: 0;
}

.play {
  width: 156px;
  height: 60.36px;
}

.appstore {
  width: 135px;
  height: 40px;
}


/* Placeholder Text */

::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


/* Place Holder CSS for Focus */

:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:hover:-ms-input-placeholder {
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


/* Place Holder CSS for Focus */

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

@media only screen and (max-width: 1000px) {
  #cardstatus {
    margin-top: 10px;
  }
  footer.row {
    margin-top: 500px;
  }
  main {
    background-image: none;
  }
  #subject {
    height: 375px;
  }
  nav section.col-md-5 ul li {
    display: inline-block;
  }
  nav section.col-md-5 ul {
    width: 100%;
  }
  .jumbotron h1 {
    font-size: 3rem;
  }
  #flipping {
    background-image: url('../images/web5.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    min-height: 350px;
  }
  section.col-md-3 ul {
    margin: 0;
    width: 60%;
    float: right;
    background-color: initial;
    margin-right: 150px;
  }
  section.col-md-3 ul li {
    width: 250px;
  }
  .fa-plus, .fa-trash, .fa-wrench, .fa-eye {
    font-size: 1.5rem;
  }
  .rightHolder {
    right: 20%;
  }
  .leftHolder {
    left: 20%;
  }
  .leftHolder, .rightHolder {
    bottom: -125px;
  }
  .add ul {
    width: 50%;
  }
  #addCard, #updateCard, #deleteCard, #studyDirections {
    margin-top: -10px;
    width: 100%;
  }
  #displaycards {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  section.col-md-3 ul {
    margin-top: 100px;
    margin-right: 80px;
  }
  footer.row {
    margin-top: 600px;
  }
}

@media only screen and (max-width: 560px) {
  .back {
    border-right: solid black 1px
  }
  main {
    background-image: none;
  }
  header {
    height: 250px;
  }
  nav section.col-md-5 ul li {
    display: block;
    float: left;
  }
  nav section.col-md-5 ul {
    width: 50%;
  }
  .jumbotron h1 {
    font-size: 2.5rem;
  }
  .flip-container, .front, .back {
    width: 95%;
  }
  .flashcard p, .flashcard2 p {
    margin-left: 20%;
    width: 60%;
  }
}